html {
   position: relative;
   min-height: 100%;
}

body {
   font-family: "Helvetica";
   background-color: #ffffff;
   color: #87959b;
   margin-bottom: 70px;
}

#logo {
   margin-top: 150px;
   margin-bottom: 100px;
}

#social {
   margin-left: 10px;
}

.footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 70px;
   background-color: #f5f5f5;
   color: #f5f5f5
}

.container {
   width: auto;
   max-width: 680px;
   padding: 0 15px;
}

.container .text-muted {
   margin: 20px 0;
}

a, a:link, a:visited, a:active, a:hover {
   color: #87959b;
   text-decoration: underline;
}